body {
     background-attachment:fixed;
     }


h1{
    color:white;
    font-size:40px; 
    text-align:center;
    }

p{
    background-color:black; 
    color:white; 
    width: 1250px; 
    border: 2px solid green; 
    font-size:30px; 
    text-align:justify; 
    padding:10px; 
    margin:10px; 
    animation: mymove 2.5s infinite; 
    }

 @keyframes mymove{
                        50%
                        {box-shadow: 10px 20px

                        30px green;}

                       }

img:hover{
          transform:scale(1.5);
          }
